pycaret   
catboost                                                                                                                       
numpy
pandas
matplotlib 
plotly
ipython
scikit-learn
streamlit
